:root {
  --main-font: 'Raleway';
}

*{
  font-family: var(--main-font);
  font-weight: lighter;
}
p{
  font-size: 1.5em;

}
.mainHeader{
  font-size: 4em;
  font-weight: bold;
}
.listCss{
  display: flex;
}
.searchCSS{
  width: 34% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-left: auto !important;
  margin-top: 1em;
}
.imgCSS{
  margin: 2em;
}

.mainCSS{
  display: flex;

}

.accordion-button:not(.collapsed){
  color: black !important;
  background-color: white!important;
  box-shadow: none !important;
}